@use "abstracts/variables" as *;

.error-page {
  padding: 2rem 8rem;

  @media screen and (max-width: 750px) {
    padding: 0 1rem;
    margin-top: $spacing-medium;
  }

  @media screen and (max-width: 600px) {
    margin-top: $spacing-medium;
    padding: 0 0.5rem;
  }
}

.not-found {
  text-align: center;

  color: $color-text-dark;

  &__title {
    font-size: 4.5rem;

    @media screen and (max-width: 600px) {
      font-size: 3rem;
    }
  }

  &__output {
    font-size: 3.2rem;
    margin-bottom: 2.5rem;

    @media screen and (max-width: 600px) {
      font-size: 2.8rem;
    }
  }

  &__description {
    font-size: $font-size-default;

    @media screen and (max-width: 600px) {
      font-size: $font-size-small;
    }
  }
}
