@use "abstracts/variables" as *;

.download-section {
  margin-bottom: $spacing-xbig;

  &__warning {
    text-align: center;
    font-size: $font-size-small;

    color: $color-text-dark;
    margin-bottom: $spacing-small;

    &--2 {
      margin-bottom: $spacing-big;
    }

    @media screen and (max-width: 600px) {
      font-size: 1.8rem;
    }
  }

  &__container {
    display: flex;
    gap: $spacing-medium;
    flex-wrap: wrap;

    @media screen and (min-width: 769px) {
      overflow-x: auto;

      &::-webkit-scrollbar {
        height: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        border-radius: 1rem;
      }
    }
  }

  &__title {
    font-size: $font-size-default;
    margin-bottom: 1.5rem;

    color: $color-text-dark;
  }

  &__element {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: $border-radius-default;
    border: $border-default;
    flex: 1;
    min-width: min(20rem, 100%);
  }

  &__button {
    border: none;
    border-radius: $border-radius-default;

    font-size: $font-size-default;

    cursor: pointer;

    width: min(22rem, 100%);
    background-color: $color-section-background-dark;
    color: $color-subtitle-dark;

    padding: 1rem 2rem;

    &-text {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: 0.2s ease;

      &:hover {
        border-bottom: 1px solid $color-subtitle-dark;
      }
    }

    @media screen and (max-width: 600px) {
      font-size: $font-size-small;
    }
  }
}
