<div id="contact-section" class="contact-section fade">
  <app-terminal-section customTitle="Contact" customCommand="glow contact.md" [shortTerminalLine]="true">
    <!-- <div class="contact-section__warning">
      *Open to opportunities*
    </div> -->

    <p class="contact-section__paragraph">
      For questions or collaboration, reach out:
    </p>

    <ul class="contact-section__links">
      <li class="contact-section__link">
        <a href="mailto:hazel.granados@protonmail.com" [innerHTML]="formatEmail('hazel.granados&#64;protonmail.com')">
        </a>
      </li>

      <!-- <li class="contact-section__link">
        <a href="tel:+1234567890">+1234567890</a>
      </li> -->
    </ul>
  </app-terminal-section>
</div>