@use "abstracts/variables" as *;

.home-page {
  padding: 2rem 8rem;

  @media screen and (max-width: 750px) {
    padding: 0 1rem;
    margin-top: $spacing-medium;
  }

  @media screen and (max-width: 600px) {
    margin-top: $spacing-medium;
    padding: 0 0.5rem;
  }
}
