<div class="education-section">
  <app-terminal-section customTitle="Education" customCommand="glow education.md" [shortTerminalLine]="true">
    <div class="education-container">
      @for (degree of degrees; track $index; let last = $last) {
      <div class="education-container__item">
        <h3 class="education-container__title">{{ degree.title }}</h3>
        <p class="education-container__info">{{ degree.type }}</p>
        <p class="education-container__info">{{ degree.data }}</p>

        @if (!last) {
        <div class="education-container__split">↓</div>
        }
      </div>
      }
    </div>
  </app-terminal-section>
</div>