<div class="presentation-section">
  <app-terminal-section customTitle="Who am I" [isFirstTitle]="true">
    <div class="fade">
      <p class="name">hazel_granados</p>
      <p class="pronouns">she/they</p>
      <p class="role">
        Software Developer
      </p>

      <p class="paragraph">
        Full-stack developer focused on clean, well-structured solutions.
      </p>

      <ul class="social-links">
        <li class="social-links__link">
          <a target="_blank" href="https://www.linkedin.com/in/hazelgranados/"
            >Linkedin</a
          >
        </li>

        <li class="social-links__link">
          <a target="_blank" href="https://github.com/hazeliscoding">GitHub</a>
        </li>
      </ul>

      <app-button scrollTo="contact-section">
        Contact
      </app-button>
    </div>
  </app-terminal-section>
</div>
