@use "abstracts/variables" as *;

.footer {
  text-align: center;
  padding: 4rem 2rem 4rem 2rem;

  color: $color-text-dark;

  @media screen and (max-width: 630px) {
    padding: 4rem 0;
  }

  &__heart {
    color: $color-danger;
  }

  &__copyright {
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 800px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 630px) {
      font-size: 1.8rem;
    }
  }

  &__theme-credit {
    font-size: 2.5rem;

    @media screen and (max-width: 800px) {
      font-size: 2.0rem;
    }

    @media screen and (max-width: 630px) {
      font-size: 1.8rem;
    }
  }

  &__link {
    color: $color-accent;
    text-decoration: none;

    &:hover {
      color: $color-accent-hover;
    }
  }
}
