@use "abstracts/variables" as *;

.portfolio-page {
  padding: 2rem clamp(1rem, 4vw, 8rem);

  @media screen and (max-width: 768px) {
    padding-top: 0;
    margin-top: $spacing-medium;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 clamp(0rem, 4vw, 8rem);
  gap: 2rem;

  @media screen and (max-width: 1250px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
