@use "abstracts/variables" as *;

.header-container {
  padding: 0 8rem;
  position: sticky;
  top: 0;
  z-index: 1000;

  @media screen and (max-width: 750px) {
    padding: 0 1rem;
  }

  @media screen and (max-width: 600px) {
    padding: 0 0.5rem;
  }
}

// .app-container {
//   height: 100%;
// }
