@use "abstracts/variables" as *;

.featured-projects-section {
  margin-bottom: $spacing-xbig;

  &__warning {
    text-align: center;
    font-size: $font-size-small;

    margin-bottom: $spacing-big;

    color: $color-text-dark;

    @media screen and (max-width: 600px) {
      font-size: 1.8rem;
    }
  }

  &__container {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: $spacing-medium;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
      border-radius: 1rem;
    }

    & > * {
      scroll-snap-align: start;
    }

    @media screen and (max-width: 768px) {
      gap: 1.5rem;
    }
  }
}
