@use "abstracts/variables" as *;

.about-section {
  margin-bottom: $spacing-xbig;

  &__container {
    width: 100%;
    margin: 0 auto;
  }

  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-medium;
    position: relative;

    color: $color-text-dark;
  }

  &__additional-info {
    font-weight: $font-weight-bold;
    width: fit-content;

    color: $color-subtitle-dark;
    padding: 0 $spacing-medium;
  }

  &__paragraph {
    line-height: 1.4;
    font-size: 2.2rem;

    @media screen and (max-width: 1369px) {
      font-size: $font-size-small;
    }
  }

  &__additional-info {
    font-size: $font-size-default;
    text-align: center;
    margin: 0 auto;
    margin-top: auto;

    @media screen and (max-width: 1369px) {
      font-size: $font-size-default;
    }

    @media screen and (max-width: 1145px) {
      font-size: $font-size-small;
    }
  }

}
