@use "abstracts/variables" as *;

.tech-stack-section {
  font-size: $font-size-default;
  margin-bottom: $spacing-xbig;

  @media screen and (max-width: 600px) {
    font-size: $font-size-small;
  }

  &__subtitle {
    color: $color-subtitle-dark;
    font-weight: $font-weight-normal;
  }

  &__content {
    position: relative;
    overflow: hidden;
    padding-bottom: $spacing-big;
  }

  &__list {
    margin-left: 5rem;
    margin-bottom: $spacing-big;
    color: $color-text-dark;

    @media screen and (max-width: 600px) {
      margin-left: $spacing-big;
    }
  }
}
