@use "abstracts/variables" as *;

.tech-stack-section {
  font-size: $font-size-default;
  margin-bottom: $spacing-xbig;

  @media screen and (max-width: 600px) {
    font-size: $font-size-small;
  }

  &__subtitle {
    color: $color-subtitle-dark;
    font-weight: $font-weight-normal;
  }

  &__content {
    position: relative;
    overflow: hidden;
    --tech-stack-image-width: clamp(220px, 28vw, 320px);
    padding-bottom: $spacing-big;
  }

  &__list {
    margin-left: 5rem;
    margin-bottom: $spacing-big;
    color: $color-text-dark;
    padding-right: calc(var(--tech-stack-image-width) + #{$spacing-big});

    @media screen and (max-width: 600px) {
      margin-left: $spacing-big;
    }
  }

  &__image-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--tech-stack-image-width);
    max-width: 45%;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    transform: none;
  }

  @media screen and (max-width: 1180px) {
    &__content {
      padding-bottom: 0;
    }

    &__list {
      padding-right: 0;
    }

    &__image-container {
      position: static;
      width: min(340px, 100%);
      max-width: 100%;
      margin: $spacing-big auto 0;
    }

    &__image {
      transform: none;
    }
  }
}
