@use "abstracts/variables" as *;

.project-card {
  height: 100%;
  min-width: 30rem;
  max-width: 40rem;

  border: $border-default;

  border-radius: $border-radius-default;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-decoration: none;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;

  color: $color-text-dark;
  background-color: $color-section-background-dark;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.4);
  }

  @media screen and (max-width: 600px) {
    font-size: 1.8rem;
    max-width: 35rem;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid $color-border;
  }

  &__container {
    padding: 1rem 2rem;
  }

  &__title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }

  &__description {
    font-size: 1.7rem;
  }
}
