@use "abstracts/variables" as *;

.interests-section {
  margin-bottom: $spacing-big;
}

.interests-container {
  font-size: $font-size-default;

  margin-left: 5rem;

  color: $color-text-dark;

  & li {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  @media screen and (max-width: 600px) {
    font-size: $font-size-small;

    margin-left: $spacing-big;
  }
}
